@page
@using Microsoft.AspNetCore.Identity.UI.V3.Pages.Account.Internal
@model LogoutModel
@{
    ViewData["Title"] = "Sair";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Você saiu do aplicativo com sucesso.</p>
</header>