@page
@using Microsoft.AspNetCore.Identity.UI.V3.Pages.Account.Internal
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
     <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar sua conta</a>
</p>
    }
    else
    {

    }
}
