@{
    ViewData["Title"] = "Boas-vindas";
}

<div class="container conteudo-index conteudo1">
        <div class="col-7">
            <h1 class="text-success">O que é, Mangut?</h1>
            <p> Mangut é uma ferramenta de auxílio ao Etnodesenvolvimento dos povos originários, o que, de acordo com VERDUM é “ o exercício da capacidade social dos povos indígenas para construir seu futuro, em consonância com suas experiências históricas
                eos recursos reais e potenciais de sua cultura, de acordo com projetos definidos segundo seus próprios valores e aspirações.” <br>Portanto, podemos definir Mangut, como, uma ferramenta de facilitação a busca da autonomia dos povos originários,
                por meio da tecnologia sem perder de vista a cultura, o histórico e as experiências indígenas. </p>
        </div>
        <div class="col-5" style="border: none;">

        </div>
    </div>
    <div class="container conteudo-index conteudo2">
        <div class="col-5 " style="border: none;">

        </div>
        <div class="col-7">
            <h1 class="text-success">Como funciona?</h1>
            <p> Essa ferramenta se propõe a fazer uma ponte entre uma pessoa de origem índigena, o vendedor, e uma outra pessoa de qualquer origem, consumidor, que deseja comprar.<br> O vendedor irá fazer o próprio cadastro e após deverá cadastrar os produtos
                que deseja comercializar. Já o consumidor deverá fazer apenas o seu cadastro e já poderá usurfruir dos benefícios do uso da ferramenta.<br> A pessoa que desejar comprar pelo aplicativo, poderá utilizar o filtro e localizar o vendedor mais
                da sua localização, além de poder filtrar também por tipo de produto.<br> Após a escolha do produto, será enviado uma mensagem para o whatsapp do vendedor com as informações de compra e o contato do comprador, para poderem definir a forma
                da entrega, forma de pagamento e o que mais se fizer necessário.
            </p>
        </div>
    </div>