@{
    ViewData["Title"] = "Cadastro";
}
<h1>@ViewData["Title"]</h1>

<p>Escolha uma opção para prosseguir</p>

<a asp-controller="Vendedores" asp-action="Create" class="btn btn-primary">Cadastrar Vendedor</a>
<a asp-controller="Produtos" asp-action="Create" class="btn btn-primary">Cadastrar Produto</a>
<a asp-controller="Clientes" asp-action="Create" class="btn btn-primary">Cadastrar Cliente</a>
