@{
    ViewData["Title"] = "Cadastro";
}
<h1 class="text-danger text-center"><br>@ViewData["Title"]</h1>
<br>
<p class="text-center">Escolha uma opção para prosseguir</p>
<br>
<center>
<a asp-controller="Vendedores" asp-action="Create" class="btn btn-primary">Cadastrar Vendedor</a>
<a asp-controller="Produtos" asp-action="Create" class="btn btn-primary">Cadastrar Produto</a>
<a asp-controller="Clientes" asp-action="Create" class="btn btn-primary">Cadastrar Cliente</a>
</center>
