@{
    ViewData["Title"] = "FAQ";
}
<div class="container backcard">
    <h1 class="text-danger">Institucional</h1>
    <div class="accordion" role="tablist" id="accordion-1">
        <div class="accordion-item">
            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="false" aria-controls="accordion-1 .item-1">O que é o Mangut?</button></h2>
            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                <div class="accordion-body">
                    <p class="mb-0">Mangut é um sistema web de catalogação, focada no fortalecimento das vendas de produtos de origem indígena pela internet.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">Qual o propósito do Mangut?</button></h2>
            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                <div class="accordion-body">
                    <p class="mb-0">Ao nos vermos num cenário de evolução do presencial para o digital, potencializada principalmente pelo isolamento social devido a pandemia de Covid-19, definimos nosso propósito em simplificar o processo de visibilidade dos vendedores na internet.&nbsp;Por sermos uma plataforma específica para vendedores indígenas, promovemos, assim, o direito à equidade desse grupo minoritário da população, ao sermos mais uma ferramenta que poderá auxiliar a mudar a história desse povo, tanto quanto na sua independência financeira.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3">Por que devo usar a plataforma?</button></h2>
            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                <div class="accordion-body">
                    <p class="mb-0">Diferentemente da abordagem da maioria dos e-commerces pela internet, o Mangut NÃO irá fazer a intermediação da venda pelo vendedor, sendo assim, nosso objetivo é que os nossos usuários criem uma ligação direta entre comprador(a) e vendedor(a).</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-4" aria-expanded="true" aria-controls="accordion-1 .item-4">Como o projeto se mantém?</button></h2>
            <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-1">
                <div class="accordion-body">
                    <p class="mb-0">No momento, todo o custeamento para a plataforma se manter online, vem de um crédito gratuito no serviço de hospedagem Azure, da Microsoft. Por não cobrarmos nada dos usuários, nossa estratégia é coletar fundos através de anúncios, publicidades e parcerias filantrópicas ao movimento, economizando recursos uma vez que o usuário não dependerá de novas visitas ao site para comprar novamente com o mesmo vendedor(a).</p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-end text-black-50"><br />*Para maiores informações, entre em contato conosco.</p>
</div>
