@page
@*@model ChangePasswordModel*@
@{
    ViewData["Title"] = "Administração";
    ViewData["ActivePage"] = ManageNavPages.Admin;
}
<a asp-action="Index" asp-controller="Produtoes" ><button>Gerenciar Produtos</button></a>

