@page
@using Microsoft.AspNetCore.Identity.UI.V3.Pages.Account.Internal
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmado";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        Obrigado(a) por confirmar seu e-mail.
    </div>