@page
@using Microsoft.AspNetCore.Identity.UI.V3.Pages.Account.Internal
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Redefinir confirmação de senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sua senha foi alterada. Por favor <a asp-page="./Login">Clique aqui para logar</a>.
</p>
